/* supports fleche and fl-gauche for backwards compatibility */
:is(.arrow, .fleche) {
    position: relative;
    display: inline-block;
    vertical-align: 0.25em;
    width: 1em;
    --height: 0.1em;
    --half-height: 0.05em;
    height: var(--height);
    border-radius: var(--height);
    margin: 0 var(--half-height);
}
@media print {
    :is(.arrow, .fleche) {
    	display: none;
    }
}

:is(.arrow, .fleche),
:is(.arrow, .fleche)::before,
:is(.arrow, .fleche)::after {
    background-color: currentcolor;
}

:is(.arrow, .fleche)::before,
:is(.arrow, .fleche)::after {
    content: "";
    position: absolute;
    top: calc(50% - var(--half-height));
    right: 0;
    width: 0.625em; /* 1em / 1.6 */
    height: 0.125em;
    border-radius: var(--height);
    transform-origin: calc(100% - var(--half-height)) 50%;
    transition: transform 0.4s;
}

:is(.arrow, .fleche)::before {
    transform: rotate(45deg);
}

:is(.arrow, .fleche)::after {
    transform: rotate(-45deg);
}

:is(.arrow, .fleche):hover::before,
button:hover :is(.arrow, .fleche)::before,
a:hover :is(.arrow, .fleche)::before {
    transform: rotate(30deg);
}

:is(.arrow, .fleche):hover::after,
button:hover :is(.arrow, .fleche)::after,
a:hover :is(.arrow, .fleche)::after {
    transform: rotate(-30deg);
}

:is(.arrow.left-arrow, .fleche.fl-gauche)::before,
:is(.arrow.left-arrow, .fleche.fl-gauche)::after {
    right: unset;
    left: 0;
    transform-origin: var(--half-height) 50%;
}

:is(.arrow.left-arrow, .fleche.fl-gauche)::before {
    transform: rotate(-45deg);
}

:is(.arrow.left-arrow, .fleche.fl-gauche)::after {
    transform: rotate(45deg);
}

:is(.arrow.left-arrow, .fleche.fl-gauche):hover::before,
button:hover :is(.arrow.left-arrow, .fleche.fl-gauche)::before,
a:hover :is(.arrow.left-arrow, .fleche.fl-gauche)::before,
:is(.arrow.left-arrow, .fleche.fl-gauche).clicked::before {
    transform: rotate(-30deg);
}

:is(.arrow.left-arrow, .fleche.fl-gauche):hover::after,
button:hover :is(.arrow.left-arrow, .fleche.fl-gauche)::after,
a:hover :is(.arrow.left-arrow, .fleche.fl-gauche)::after,
:is(.arrow.left-arrow, .fleche.fl-gauche).clicked::after {
    transform: rotate(30deg);
}

:is(.arrow, .fleche) {
    transition: transform 0.8s cubic-bezier(0, 1, 0, 1);
}
:is(.arrow, .fleche).clicked {
    transform: translate(0.5em);
}
:is(.arrow.left-arrow, .fleche.fl-gauche).clicked {
    transform: translate(-0.5em);
}
